.about {
    .container {
        display: flex;
        gap: 8rem;

        .image-about {
            position: relative;

            div {
                img {
                    width: 100%;
                    border: 1px solid $primary-color-varient;
                    padding: 0.2rem;
                }

                &:last-child {
                    img {
                        transform: rotate(12deg);
                        top: 0;
                        position: absolute;
                    }
                }
            }


        }

        .content {
            .head {
                text-align: start;
                margin-bottom: 1rem;
                &>h4{
                    color: $primary-color;
                    background-color: $dark-color;
                    padding: 0.2rem ;
                    letter-spacing: 0.3rem;
                }
            }

            p {
                margin-bottom: 2rem;
            }
        }

    }
}

@media screen and (max-width: 600px) {
    .about {
        .container {
            text-align: center;
            flex-direction: column;

            .image-about {
                div {
                    img {
                        width: 50%;
                    }

                    &:last-child {
                        img {
                            right: 8rem;
                        }
                    }
                }
            }

            .content {
                .head {
                    text-align: center;
                }
            }
        }
    }
}